@import "tailwindcss";

@layer base {
  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
  }
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #1a1a1a;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
